<!-- Ordenar mejor para que se vea mejor, tendr un background y tal vez musiquita, adminMartin deveria enviarte
a la pagina de admin -->
<style>
body {
 background-image: url('assets/background_planet.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

input[type=text], input[type=password] {
  width: 54vmin;
  padding: .8vmin .7vmin;
  margin: .7vmin 0;
  display: inline-block;
  border: .7vmin solid black;
  box-sizing: border-box;
  font-size: 3.2vmin;
  border-radius: 2vmin
}

/* Set a style for all buttons */
.button {
  background-color: #4CAF50;
  color: white;
  padding: .9vmin .2vmin;
  margin: .2vmin 0;
  border: none;
  cursor: pointer;
  width: 54vmin;
  font-size: 4vmin;
}

/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}

.title {
    margin-top: 2%;
    margin-bottom: 3%;
    position:relative;
    color: blue;
    font-size: 8vmin;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 0 rgb(-12,184,243),
                 -1px -1px 0 rgb(-24,172,231),
                 -2px -2px 0 rgb(-36,160,219),
                 -3px -3px 0 rgb(-48,148,207),
                 -4px -4px 0 rgb(-59,137,196),
                 -5px -5px 0 rgb(-71,125,184),
                 -6px -6px 0 rgb(-83,113,172),
                 -7px -7px 0 rgb(-95,101,160),
                 -8px -8px 0 rgb(-107,89,148),
                 -9px -9px  0 rgb(-119,77,136),
                 -10px -10px 9px rgba(0,0,0,0.77),
                 -10px -10px 1px rgba(0,0,0,0.5),
                 0px 0px 9px rgba(0,0,0,.2);

}
.h3 {
  font-size: 5vmin;
  font-weight: bold;
}
</style>
<div style=" height:100%; width:100%; top:0; left:0; position:fixed; background: white; opacity:.38; z-index:-1"></div>
<div style="margin:auto; text-align:center;">
<h1 class="title">Civients</h1>
<p style="font-size:5vmin">Put any name and password to start</p>
<audio controls>
<source src="music/NewLand by IanPost Artlist.mp3" type = "audio/mpeg" autostart = "true" loop = "true" >
</audio>
<% if @message%>
  <p style="font-size:3vmin; color: red;"><%=@message%></p>
<%end%>
<form action="/sign_in">
<p class="h3">Name:</p><input type="text" id="name" name = "name"><br>
<p class="h3">Password:</p><input type="text" id="password" name="password"><br>
<input type="hidden" name= "authenticity_token" value="<%=form_authenticity_token%>">
<br>
<input type="submit" value="Sign-In" class="button">
</form>

</div>
