<!-- falta todo lo de imagenes la info se debe de obtener en la bd -->
<style>
  .dialog-box {
    width: 80%;
    height: 300px;
    border: 2px solid green;
    padding: 25px;
    position: relative;

  }
  .d-right {
    border-radius: 35px 35px 7px;
    left: 3%;
  }
  .d-left {
    border-radius: 35px 35px 35px 7px;
    left: 15%;
  }
  #dialog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: blue;

  }
  #next-but{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: green;
    position: absolute;
    bottom: 10px;
    right: 25px;
    text-decoration: underline;

  }
  img.right{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position:absolute;
    right:0%;
  }


</style>

<div id= "box" class= "dialog-box d-right"><p id="dialog">Yes you can start by doing blas</p><p id="next-but">xlick anything</p></div>
<br>
<img class = "right" src="pic_trulli.jpg" alt="Character" id="char">
<%
#@dialogs = [["hey", "image", "d-left"],["what?", "image", "d-right"], ["hello :P", "image", "d-left"], ["hey", "image", "d-right"],["what?", "image", "d-left"],
#["hello :P", "image", "d-right"]]
#@dialogs.push([j.dialog, j.character j.side])
%>
<script>
var dialogs = <%=raw @dialogs.to_json%>
var moment = -1
next_dialog()

function next_dialog(){
  moment+=1
  if (moment>= dialogs.length){
    moment = -1
    next_page()
  } else {
    var dialog_box = document.getElementById("box")
    var image = document.getElementById("char")
    dialog_box.classList.remove("d-left","d-right")
    dialog_box.classList.add("d-"+dialogs[moment][2])
    dialog = document.getElementById("dialog")
    dialog.innerHTML = dialogs[moment][0]
    image.src = "assets/"+dialogs[moment][1]
    image.className = dialogs[moment][2]
  }
}
document.addEventListener("click",next_dialog)

function next_page(){

  var data = {"storyId": <%= @story.id%>}
  create_post(data,"/read_story")
}

function create_post(data, path){
  data.authenticity_token= window._token
  console.log("creating form")
  form = document.createElement("form")
  form.method = 'post'
  form.action = path
  for (key in data){
    element = document.createElement("input")
    element.type = 'hidden'
    element.name = key
    element.value = data[key]
    form.appendChild(element)
  }
  document.body.appendChild(form)
  form.submit()
  //console.log("khj")
}

</script>
