<!-- falta todo lo de imagenes la info se debe de obtener en la bd -->
<style>
  .dialog-box {
    width: 77%;
    height: 10vw;
    border: 2px solid green;
    padding: .1vw 1vw;
    background: white;
    opacity: .8;
    position: relative;
    align-items:center;
    justify-content: center;

  }
  .d-right {
    border-radius: 35px 35px 7px;
    left: 3%;

  }
  .d-left {
    border-radius: 35px 35px 35px 7px;
    left: 15%;

  }
  #dialog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7vw;
    color: blue;
    margin-top: 1vw;
    margin-bottom: 1vw;


  }
  #user {
    font-size: 2.9vw;
    color: red;
  }
  #next-but{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: green;
    position: absolute;
    bottom: -1.5vw;
    right: .9vw;
    text-decoration: underline;

  }
  img.right{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position:relative;
    float:right !important;
    right: 60px
  }
  body {
   background-image: url('assets/lab.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
  }

  #char {
    position: relative;
    animation-name: move;
    animation-duration: 1.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

  }
  @keyframes move {
    0% {left: 0px; top:30px}
    50% {left: 30px; top:0px}
    100% {left: 60px; top:30px}
  }


</style>

<div id= "box" class= "dialog-box d-right"><p id="dialog">Yes you can start by doing blas</p><p id="next-but">click anywhere</p></div>
<br>

<img class = "right" src="pic_trulli.jpg" alt="Character" style="max-height: 53vw; max-width: 45%; float:left;" id="char">
<div style = "height:33vw; width: 47%; float: left;"><img src="assets/background_tutorial_begin.png" style="height:100%; width:100%" id="tutorial" alt="tutorial"></div></div>

<%
#@dialogs = [["hey", "image", "d-left"],["what?", "image", "d-right"], ["hello :P", "image", "d-left"], ["hey", "image", "d-right"],["what?", "image", "d-left"],
#["hello :P", "image", "d-right"]]
#@dialogs.push([j.dialog, j.character j.side])
%>
<script>
var dialogs = <%=raw @dialogs.to_json%>
var scenes = <%=raw @scenes.to_json%>
var moment = -1
var scene = 0
next_dialog()

function next_dialog(){
  moment+=1
  if (moment>= dialogs.length){
    moment = -1
    next_page()
  } else {
    var dialog_box = document.getElementById("box")
    var image = document.getElementById("char")
    dialog_box.classList.remove("d-left","d-right")
    dialog_box.classList.add("d-"+dialogs[moment][2])
    dialog = document.getElementById("dialog")
    dialog.innerHTML = dialogs[moment][0]
    //dialog.innerHTML = "este es un texto muuuuuuuuuy laaaaaaaaargo o supuestamente lo mazimo que deberia de hablar alguien para probar como se vees"
    image.src = "assets/"+dialogs[moment][1]
    image.className = dialogs[moment][2]
    
    if (scene<scenes.length && scenes[scene][0]<=moment){

      if(scenes[scene][2]){

        //document.body.style.backgroundImage = "url('assets/lab.jpg')"
        var back = document.getElementById("tutorial")
        back.src = "assets/"+scenes[scene][1]
        back.hidden = false
      } else {
        document.body.style.backgroundImage = "url('assets/"+scenes[scene][1]+"')"
        var back = document.getElementById("tutorial")
        back.hidden = true
      }

      scene+=1
    }
  }
}
document.addEventListener("click",next_dialog)

function next_page(){

  var data = {"storyId": <%= @story.id%>}
  create_post(data,"/read_story")
}

function create_post(data, path){
  data.authenticity_token= window._token
  console.log("creating form")
  form = document.createElement("form")
  form.method = 'post'
  form.action = path
  for (key in data){
    element = document.createElement("input")
    element.type = 'hidden'
    element.name = key
    element.value = data[key]
    form.appendChild(element)
  }
  document.body.appendChild(form)
  form.submit()
  //console.log("khj")
}

</script>
